<nav>
  <div class="nav-wrapper ">
    <a href="#" ui-sref="home" du-scrollspy='' du-smoothscroll='' class="brand-logo wrap">Learn-Source</a>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">Menu</i></a>
    <ul class="right hide-on-med-and-down section scrollspy">
      <li><a du-scrollspy='' du-smoothscroll='' href="#skills" ui-sref='home.skill' id='skills'>Skills</a></li>
      <li><a du-scrollspy='' du-smoothscroll='' href="#resources" ui-sref='home.resources' id='resources'>Resources</a></li>
    </ul>
    <ul class="side-nav section scrollspy" id="slide-out">
      <li><a du-scrollspy='' du-smoothscroll='' href="#skills" du-scrollspy id='skills' ui-sref='home.skill'>Skills</a></li>
      <li><a du-scrollspy='' du-smoothscroll='' href="#resources" du-scrollspy ui-sref="home.resources" id='resources' >Resources</a></li>
    </ul>
  </div>
</nav>
