<form name=newResource ng-submit="ctrl.formSubmit(ctrl.newResource)">

  <div class="input-field">
    <label for="newResource.name">Name:</label><br>
    <input ng-model='ctrl.newResource.name'
      type="text"
      name="name"
      required="required" />
  </div>


    <div ngMessages="form.newResource.name.$error" ng-if='newResource.name.$dirty'>
          <div ngMessages="required">
              A name is required!
          </div>
    </div>

    <div class="input-field">
      <label for="newResource.name">Description:</label><br><br>
      <textarea ng-model='ctrl.newResource.text'
        name="name"
        minlength="20"
        required="required"></textarea>

        <div ngMessages="form.newResource.text.$error" ng-if='newResource.text.$dirty'>
            <div ngMessages="required">
                A description is required!
            </div>
            <div ngMessages="minlength">
              The description must be long enough!
            </div>
        </div>
    </div>

    <div class="input-field">
      <label for="newResource.link">Skill Link:</label><br>
      <input ng-model='ctrl.newResource.link'
        type="url"
        name="link"
        minlength="6"
        required="required" />
    </div>

        <div ngMessages="form.newResource.link.$error" ng-if='newResource.link.$dirty'>
            <div ngMessages="required">
                A link is required!
            </div>
            <div ngMessages="minlength">
              The link must be long enough!
            </div>
        </div>

<div class="input-field">
  <span ng-repeat='skill in ctrl.skills'>
    <input type="checkbox" checklist-model='ctrl.newResource.tags' checklist-value='skill.id' id="{{skill.id}}" ng-change="check(skill, checked)">
    <label for="{{skill.id}}">
    {{skill.name}}
    </label>
  </span>
</div>
  <br><br>

  <input
        class="waves-effect deep-orange btn below "
        type="submit"
        value="Create"  />

</form>
