<!DOCTYPE html>
<html ng-app="app" class="app">
<head>
  <title>AngularRailsApp</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- <div class="col-small-3">   HOW I WOULD LIKE TO EVENTUALLY IMPLEMENT THINGS
  <div class="sidebar-nav">
   <div class="navbar navbar-default" role="navigation">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <span class="visible-xs navbar-brand">Sidebar menu</span>
     </div>
     <div class="navbar-collapse collapse sidebar-navbar-collapse">
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Menu Item 1</a></li>
         <li><a href="#">Menu Item 2</a></li>
         <li><a href="#">Menu Item 3</a></li>
         <li><a href="#">Menu Item 4</a></li>
         <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
       </ul>
     </div><!--/.nav-collapse - - >
   </div>
 </div>
</div> -->

  <nav>
    <div class="nav-wrapper ">
      <a href="#" ui-sref="home" class="brand-logo">Learn-Source</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" ui-sref='home.skill'>Skills</a></li>
        <li><a href="#" ui-sref='home.resources'>Resources</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#" ui-sref='skill'>Skills</a></li>
        <li><a href="#" ui-sref="all-resources({resource: 'resources'})" >All Resources</a></li>
      </ul>
    </div>
  </nav>
</div>


  <div class="container-fluid row" ui-view>

  </div>
</body>
</html>
